<form method="post" action="/guardarContacto">
	<div>
	     <label for="nombres" class="rem">Nombres:</label>
    </div>
    <div>
	    <label for="contacto" class="rem">Entrada:</label>
	    
    </div>
    <div>
    	<input type="submit" name="envio" value="Registrar Contacto">
     </div> 
</form>
